<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>North Wyke Farm Platform SADI Services</display-name>
    <servlet>
        <servlet-name>allCatchments</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllCatchments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatchment</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetCatchment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatchmentMeasurementType</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetCatchmentMeasurementType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getField</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetField</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFieldEvent</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetFieldEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAnimalBasicData</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetAnimalBasicData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataQuality</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetDataQuality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementLocation</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementType</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementTypeLong</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementTypeLong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByCatchmentName</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByCatchmentName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByDateRange</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByDateRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByTypeId</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByTypeId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allCatchments</servlet-name>
        <url-pattern>/allCatchments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatchment</servlet-name>
        <url-pattern>/getCatchment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatchmentMeasurementType</servlet-name>
        <url-pattern>/getCatchmentMeasurementType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getField</servlet-name>
        <url-pattern>/getField</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFieldEvent</servlet-name>
        <url-pattern>/getFieldEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAnimalBasicData</servlet-name>
        <url-pattern>/getAnimalBasicData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataQuality</servlet-name>
        <url-pattern>/getDataQuality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementLocation</servlet-name>
        <url-pattern>/getMeasurementLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementType</servlet-name>
        <url-pattern>/getMeasurementType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementTypeLong</servlet-name>
        <url-pattern>/getMeasurementTypeLong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByCatchmentName</servlet-name>
        <url-pattern>/getMeasurementByCatchmentName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByDateRange</servlet-name>
        <url-pattern>/getMeasurementByDateRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByTypeId</servlet-name>
        <url-pattern>/getMeasurementByTypeId</url-pattern>
    </servlet-mapping>
</web-app>

