<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>North Wyke Farm Platform SADI Services</display-name>
    <servlet>
        <servlet-name>allCatchments</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllCatchments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatchmentInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetCatchmentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allCatchmentMeasurementTypes</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllCatchmentMeasurementTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatchmentMeasurementTypeInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetCatchmentMeasurementTypeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allFields</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllFields</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFieldInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetFieldInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allFieldEvents</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllFieldEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFieldEventInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetFieldEventInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allAnimalBasicData</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllAnimalBasicData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAnimalBasicDataInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetAnimalBasicDataInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allDataQualities</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllDataQualities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataQualityInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetDataQualityInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allMeasurementLocations</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllMeasurementLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementLocationInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementLocationInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allMeasurementTypes</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllMeasurementTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementTypeInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementTypeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allMeasurementTypesLong</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.AllMeasurementTypesLong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementTypeLongInfo</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementTypeLongInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByCatchmentName</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByCatchmentName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByDateRange</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByDateRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMeasurementByTypeId</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.GetMeasurementByTypeId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allCatchments</servlet-name>
        <url-pattern>/allCatchments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatchmentInfo</servlet-name>
        <url-pattern>/getCatchmentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allCatchmentMeasurementTypes</servlet-name>
        <url-pattern>/allCatchmentMeasurementTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatchmentMeasurementTypeInfo</servlet-name>
        <url-pattern>/getCatchmentMeasurementTypeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allFields</servlet-name>
        <url-pattern>/allFields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFieldInfo</servlet-name>
        <url-pattern>/getFieldInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allFieldEvents</servlet-name>
        <url-pattern>/allFieldEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFieldEventInfo</servlet-name>
        <url-pattern>/getFieldEventInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allAnimalBasicData</servlet-name>
        <url-pattern>/allAnimalBasicData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAnimalBasicDataInfo</servlet-name>
        <url-pattern>/getAnimalBasicDataInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allDataQualities</servlet-name>
        <url-pattern>/allDataQualities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataQualityInfo</servlet-name>
        <url-pattern>/getDataQualityInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allMeasurementLocations</servlet-name>
        <url-pattern>/allMeasurementLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementLocationInfo</servlet-name>
        <url-pattern>/getMeasurementLocationInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allMeasurementTypes</servlet-name>
        <url-pattern>/allMeasurementTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementTypeInfo</servlet-name>
        <url-pattern>/getMeasurementTypeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allMeasurementTypesLong</servlet-name>
        <url-pattern>/allMeasurementTypesLong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementTypeLongInfo</servlet-name>
        <url-pattern>/getMeasurementTypeLongInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByCatchmentName</servlet-name>
        <url-pattern>/getMeasurementByCatchmentName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByDateRange</servlet-name>
        <url-pattern>/getMeasurementByDateRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeasurementByTypeId</servlet-name>
        <url-pattern>/getMeasurementByTypeId</url-pattern>
    </servlet-mapping>
</web-app>

